/* 1000 - 1200 */
@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
}

/* 800 - 1000 */
@media (max-width: 1000px) {
    .container {
        width: 720px;
    }

    .top-form_title {
        font-size: 15px;
    }
}

/* 576 - 800 */
@media (max-width: 800px) {
    .container {
        width: 540px;
    }

    .description {
        width: 54%;
    }

    .top-form {
        width: 40%;
    }

    .top-form_title {
        font-size: 14px;
    }

    .social__container {
        display: block;
    }

    .features__image {
        display: none;
    }

    .reviews__item:last-child {
        display: none;
    }

    .reviews__item {
        width: 46%;
    }
}

/* 0 - 576 */
@media (max-width: 576px) {
    .container {
        width: calc(100% - 12px - 12px);
        padding: 0 12px;
        margin: 0;
    }

    .flex-between {
        display: block;
    }

    .section-paddings {
        padding-top: 60px;
    }

    .titles {
        font-size: 28px;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 200px;
        background-color: black;
        padding: 75px 0 0 75px;
        box-sizing: border-box;
        transform: translateX(-100%);
        transition: 3s;
        z-index: 999;
    }

    .menu.visible {
        transform: translateX(0);
        transition: 3s;
    }

    #dropdown {
        z-index: 999;
    }

    .bg {
        display: none;
        transition: 3s;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        opacity: .5;
        z-index: 998;
    }

    .bg.visible {
        display: block;
        transition: 3s;
    }

    .header_container {
        display: flex;
    }

    .dropdown-container {
        display: block;
        position: relative;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .dropdown-container.cross .burger_line {
        display: none;
    }

    .dropdown-container::before,
    .dropdown-container::after {
        content: "";
    }

    .burger_line,
    .dropdown-container::before,
    .dropdown-container::after {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
    }

    .dropdown-container::before {
        top: 0;
        transition: 1s;
    }

    .dropdown-container::after {
        bottom: 0;
        transition: 1s;
    }

    .dropdown-container.cross::before {
        transform: rotate(45deg);
        top: 50%;
        transition: 1s;
    }

    .dropdown-container.cross::after {
        transform: rotate(-45deg);
        top: 50%;
        transition: 1s;
    }

    .burger_line {
        top: 50%;
        transform: translateY(-50%);
        transition: 1s;
    }

    /*
    #dropdown:hover {
        width: 100%;
        box-shadow: 0 1px 8px 0 lightgrey;
        background: white;
    }

    .dropdown-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dropdown-div {
        padding: 2px 0;
        margin: 0 auto;
        background: black;
        background-clip: content-box;
        width: 40px;
        height: 3px;
    }

    .menu {
        height: 0;
        overflow: hidden;
        margin: 2px 0 0 0;
        padding: 2px 0 0 0;
        border-top: 1px solid lightgrey;
        width: 100%;
        z-index: 999;
    }

    .menu__item {
        display: block;
        margin-right: 0;
    }

    .header__link {
        text-decoration: none;
    }

    .link--text {
        border-top: 1px solid lightgrey;
        font-weight: bold ;
        background: white;
        color: #595959;
        margin: 0;
        left: 0;
        padding: 15px 5px 10px 20px;
        letter-spacing: 2px;
        transition: 0.2s ease-out;
    }

    .link--text:hover {
        color: #fe9244;
        border-left: 3px solid #fe9244;
        border-right: 3px solid #fe9244;
    }
     */

    .banner,
    .social {
        padding: 12px 0;
    }

    .description {
        width: 100%;
        margin-bottom: 50px;
    }

    .description__title {
        font-size: 28px;
    }

    .top-form {
        width: 100%;
        opacity: .7;
        transition: opacity .2s linear;
    }

    .top-form:hover {
        opacity: 1;
        transition: opacity .2s linear;
    }

    .top-form_title {
        font-size: 14px;
    }

    .top-form__input {
        max-width: calc(90% - 10px - 10px - 1px - 1px);
    }

    .social__container {
        display: block;
    }

    .social__links,
    .footer__links {
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .features,
    .about,
    .prices,
    .reviews {
        padding-bottom: 12px;
    }

    .features__title {
        font-size: 15px;
    }

    .features__text {
        max-width: 100%;
    }

    .features__tabs--label {
        left: 12px;
        top: -51px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
    }

    .features__tab1--label {
        border-radius: 5px 0 0 5px;
    }

    .features__tab2--label {
        top: -51px;
        left: calc(12px + 51px);
    }

    .features__tab3--label {
        top: -51px;
        left: calc(12px + 102px);
        border-radius: 0 5px 5px 0;
    }

    #tab1:checked ~ .features__tab1,
    #tab2:checked ~ .features__tab2,
    #tab3:checked ~ .features__tab3 {		/* ~ похож на +, отличается тем, что будет выбран не только первый элемент который следует сразу за селктором который прописан до ~, а все */
        padding-left: 0;
    }

    .about__container {
        margin-top: 12px;
    }

    .reviews__item:first-child {
        display: none;
    }

    .about__container {
        display: block;
    }



    .about__text {
        font-size: 12px;
    }

    .about__item,
    .reviews__item {
        width: 100%;
        margin: 0 auto;
    }

    .prices__mobile {
        display: block;
    }

    .prices__container {
        padding-top: 12px;
    }

    .social__links,
    .prices__item,
    .contacts__item {
        width: 100%;
    }

    .about__item,
    .prices__item {
        margin-bottom: 12px;
    }

    .about__item:last-child,
    .prices__item:last-child {
        margin-bottom: 0;
    }

    .banner__container {
        display: block;
    }

    .social__text,
    .footer__links {
        max-width: 100%;
    }
}