html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.titles {
	font-size: 36px;
	font-family: "Raleway", sans-serif;
	color: rgb(33, 33, 33);
	text-align: center;
	text-transform: uppercase;
}

.titles:after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	margin: 23px auto 30px;
}

.titles--white {
	padding-top: 75px;
	color: #ffffff;
}

.titles--white:after {
	background-color: #ffffff;
}

.texts {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.429;
	margin: 0;
	text-align: center;
}

.texts--white {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 33px;
	text-align: center;
}

.scroll-smooth {
	scroll-behavior: smooth;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.section-paddings {
    padding-top: 108px;
}

/* Header */
.header {								/* height: 70px; */
	background-color: #000;
	padding: 22px 0;
}

.header_container {
	align-items: center;
}

.header__logo {
	width: 79px;
}

.menu {
	margin: 0;
}

.menu__item {
	display: inline-block;
	margin-right: 45px;
}

.menu__item:last-child {
	margin-right: 0;
}

.header__link {
	color: rgba(255, 255, 255, .69);
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	line-height: 1.2;
}


.header__link:hover {
	color: rgba(255, 255, 255, 1);
}

/* Banner */
.banner {
	background-color: black;
	background-image: url("../img/top-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding: 140px 0;
}

.banner__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Description */
.description {
	width: 46.8181%;
}

.description_logo {
	margin-bottom: 30px;
}

.description__title {
	color: #fff;
	font-size: 36px;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
}

.description__title:after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	background-color: #fff;
	margin: 40px 0;
}

.description__text {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.438;
	margin-bottom: 45px;
}

/* Download button */
.button--download {
	display: flex;
	border: 2px solid #fff;
	cursor: pointer;
	color: #fff;
	width: 131px;
	height: 38px;
    transition: background-color 0.2s linear,
                color 0.2s linear;
}

.button--download:hover {
	background-color: #fff;
	color: #000;
}

.link--download {
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	font-weight: 600;
	color: inherit;
	margin: auto;
}

/* Top Form */
.top-form {
	width: 32.7272%;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
}

.top-form_title {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: rgb(51, 51, 51);
	background-color: #f5f5f5;
	margin: 0;
	text-align: center;
	padding: 16px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 2px 2px 0 0;
}

.top-form__free {
	color: #fe9244;
}

.top-form__input {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: #d6d6d6;
	display: block;
	margin: 32px auto 0;
	padding: 10px 10px 13px;
	width: calc(100% - 1px - 10px - 10px - 1px - 22px);  /*285*/
	border: 1px solid transparent;
	border-bottom-color: #d6d6d6;
}

.top-form__button {
	display: block;
	width: 100%;
	background-color: #ff9b51;
	color: #fff;
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	line-height: 1.2;
	padding: 18px;
	margin-top: 48px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 0 0 2px 2px;
    transition: background-color 0.2s linear;
}

.top-form__button:hover {
	background-color: #333;
	cursor: pointer;
}

/* Social */
.social {				/* height: 105px; */
    padding: 20px 0;
}

.social__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__title {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: rgb(51, 51, 51);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1px;
}

.social__text {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.429;
	max-width: 365px;
}

.social__links {
	margin: 29px 0 30px;
    height: 46px;
    width: 56.6363%
}

.social__link {
    display: inline-block;
    height: 46px;
    width: 24px;
    background-image: url("../img/social__icons.png");
    background-repeat: no-repeat;
}

.social__facebook {
    width: 24px;
}

.social__twitter {
    background-position: -87px top;
    width: 43px;
}

.social__google {
    background-position: -191px top;
    width: 43px;
}

.social__pinterest {
    background-position: -282px top;
    width: 42px;
}

.social__instagram {
    background-position: -384px top;
    width: 41px;
}

.social__stumbleupon {
    background-position: -485px top;
    width: 51px;
}

.social__rss {
    background-position: -596px top;
    width: 38px;
}

.social__link:last-child {
	padding-right: 0;
}

/* Features */
.features {			/* height: 595px */		/* todo: shadow top */
	background-color: #f5f5f5;
	padding-bottom: 140px;
}

.features__container {
	position: relative;
}

.features__title {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 60px;
}

.features__text {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.4;
	max-width: 455px;
	margin-bottom: 30px;
}

.features__button--download {
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	font-weight: bold;
	color: #fff;
	line-height: 1.333;
	background-color: #ff8b38;
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 16px 24px;
	cursor: pointer;
	box-shadow: 0 1px 1px #777;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
}

.features__button--download:hover {
	background-color: #FFA764;
	box-shadow: none;
}

.features__tab1,
.features__tab2,
.features__tab3,
.features__tabs {
	display: none;
	min-height: 330px;      /* 110px × 3 вкладки */
}

.features__tabs--label {
	position: absolute;
	left: -7px;
	top: -7px;
	width: 110px;
	height: 110px;
	border: 1px solid #aaa;
	line-height: 110px;
	text-align: center;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-weight: bold;
	background-color: #333;
	cursor: pointer;
}

.features__tab1--label {
	border-radius: 5px 5px 0 0;
}

.features__tab2--label {
	top: 104px; 	/* 110px + 1px border - 7px */
}

.features__tab3--label {
	top: 215px; 	/* 110px + 110px + 1px border первой вкладки + 1px border второй вкладки - 7px */
	border-radius: 0 0 5px 5px;
}

.features__tabs:checked + .features__tabs--label {	/* + означает что будет выбран только первый элемент с классом features__tabs--label который идет сразу за input[type="radio"]:checked */
	background-color: #ff8b38;
}

#tab1:checked ~ .features__tab1,
#tab2:checked ~ .features__tab2,
#tab3:checked ~ .features__tab3 {		/* ~ похож на +, отличается тем, что будет выбран не только первый элемент который следует сразу за селктором который прописан до ~, а все */
	display: flex;
    justify-content: space-between;
	padding-left: 205px;
}

.features__item {

}

/* About */
.about {
    padding-bottom: 105px;
}


.about__container {
    margin-top: 83px;
}

.about__item {
	width: 32.3636%
}

.about__icon--container {         /* todo: переименовать! */
	display: flex;
    height: 66px;
    width: 66px;
    border: 2px solid #ff8b38;
    border-radius: calc(66px / 2);
    margin: 0 auto 30px;
}

.about__icon {
    font-size: 35px;
    color: #ff8b38;
	margin: auto;
}

.about__title {
	text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.about__text {
	text-align: center;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: rgb(134, 135, 139);
    line-height: 1.4;
}

/* Prices h: 885 */
.prices {
	background-color: #f5f5f5;
    padding-bottom: 92px;
}

.prices__container {
	align-items: flex-end;
	padding-top: 80px;
}

.prices__item {
	width: 31.1818%;
}

.prices__name {
	background-color: #333;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	padding: 21px 0 19px;
	margin-bottom: 1px;
}

.prices__value {
	background-color: #333;
	font-size: 35px;
	font-family: "Raleway", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	padding-top: 6px;
	margin-bottom: 1px;
}

.prices__value--big {
	font-size: 94px;
}

.prices__type {
	background-color: #333;
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgba(255, 255, 255, 0.502);
	text-align: center;
	padding: 18px;
	font-style: italic;
}
.prices__line {
	border-bottom: 5px solid #ff8b38;
	margin-bottom: 1px;
}

.prices__hot {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	background-color: #ff8b38;
	padding: 13px;
}

.prices_advantage {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	text-transform: uppercase;
	text-align: center;
	background-color: #fff;
	padding: 13px 0;
	margin-bottom: 1px;
}

.prices_advantage:last-child {

}

/* Reviews */		/* h: 591px */
.reviews {
	padding-bottom: 101px;
}

.reviews__container {

}

.reviews__item {
	width: 24.818181%;
}

.reviews__text {
	position: relative;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.2;
	width: calc(100% - 12px - 12px);
	background-color: #f5f5f5;
	padding: 24px 12px;
	margin-bottom: 23px;
}

.reviews__text::before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 27px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #f5f5f5;
}

.reviews__authors {
	height: 70px;
	display: flex;
	justify-content: start;
}

.reviews__image {
	margin-right: 15px;
}

.reviews__author {
	margin: auto 0;
}

.reviews__name {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	margin-bottom: 8px;
}

.reviews__profession {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: rgb(134, 135, 139);
}

/* Design */			/* height: 320px; */
.design {
	background-color: black;
	background-image: url("../img/design__image.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 63px;
}

.design__button {
	margin: 0 auto;
}

/* Contacts */
.contacts {				/* height: 613px; */
    padding-bottom: 80px;
}

.contacts__form {
	margin: 2px auto 0;
}

.contacts__container {
	margin-bottom: 48px;
}

.contacts__item {
	width: 48%;
}

.contacts__form--input {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: #d6d6d6;
	display: block;
	width: calc(100% - 13px - 13px - 1px - 1px);
	margin: 32px 0 0;	/* todo: может эти 32px сверху куда-то в более очевидное место переопределить? может контейнеру? */
	padding: 10px 13px 13px;
	border: 1px solid transparent;
	border-bottom-color: #d6d6d6;
}

.contacts__form--textarea {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: #d6d6d6;
	display: block;
	width: calc(100% - 13px - 13px - 1px - 1px);
	margin: 32px 0 0;
	padding: 10px 13px 143px;
	border: 1px solid transparent;
	border-bottom-color: #d6d6d6;
}

.contacts__form--button {		/* h: 44 (без рамок), w: 146 (без рамок) */
	display: block;
	width: 146px;
	padding: 14px 23px 14px 26px;
	margin: 0 auto;

	color: #fff;
	background-color: #ff9b51;
    box-shadow: 0 2px 2px #777;
    transition: background-color 0.2s linear, box-shadow 0.2s linear;

	font-size: 14px;
	font-family: "OpenSans", sans-serif;
    cursor: pointer;

	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 3px;
}

.contacts__form--button:hover {
    background-color: #FFA764;
    box-shadow: none;
}

/* Footer */
.footer {					/* height: 100px */
	padding-top: 38px;
	background-color: #000;
	text-align: center;
}

.footer__links {
	margin: 0 auto 15px;
	height: 23px;
	max-width: 28.8181%;
}

.footer__link {
	display: inline-block;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	height: 23px;
	width: 27px;
}

.facebook {
	width: 12px;
}

.twitter {
	background-position: -43px top;
	width: 22px;
}

.google {
	background-position: -95px top;
	width: 22px;
}

.pinterest {
	background-position: -141px top;
	width: 21px;
}

.instagram {
	background-position: -191px top;
	width: 22px;
}

.stumbleupon {
	background-position: -242px top;
	width: 27px;
}

.rss {
	background-position: -298px top;
	width: 19px;
}

.footer__copyright {
	font-size: 9px;
	font-family: "OpenSans", sans-serif;
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 15px;
}