html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
	text-decoration: none;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.titles {
	padding-top: 105px;
	font-size: 36px;
	font-family: "Raleway", sans-serif;
	color: rgb(33, 33, 33);
	text-align: center;
	text-transform: uppercase;
}

.titles:after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	background-color: #ff8b38;
	margin: 23px auto 30px;
}

.titles--white {
	font-size: 36px;
	font-family: "Raleway", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	padding-top: 75px;
}

.titles--white:after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	background-color: #ffffff;
	margin: 20px auto 33px;
}

.texts {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.429;
	margin: 0;
	text-align: center;
}

.texts--white {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 33px;
	text-align: center;
}

/* Header */
.header {								/* height: 70px; */
	background-color: #000;
	padding: 22px 0;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	width: 79px;
}

.menu {
	margin: 0;
}

.menu__item {
	display: inline-block;
	margin-right: 45px;
}

.menu__item:last-child {
	margin-right: 0;
}

.header__link {
	color: rgba(255, 255, 255, .69);
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	line-height: 1.2;
}


.header__link:hover {
	color: rgba(255, 255, 255, 1);
}

/* Banner */
.banner {
	background-color: black;
	background-image: url("../img/top-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.banner__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Description */
.description {
	width: 515px;
}

.description_logo {
	margin-bottom: 30px;
}

.description__title {
	color: #fff;
	font-size: 36px;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
}

.description__title:after {
	content: "";
	display: block;
	width: 64px;
	height: 2px;
	background-color: #fff;
	margin: 40px 0;
}

.description__text {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.438;
	margin-bottom: 45px;
}

/* Download button */
.description__button {
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	color: #fff;
	line-height: 1.2;
	display: inline-block;
	border: 2px solid #fff;
	padding: 10px 25px;
	font-weight: 600;
}

.description__button:hover {
	background-color: #fff;
	color: #000;
}

/* Top Form */
.top-form {
	width: 360px;
	background-color: #fff;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	margin: 140px 0;
}

.top-form_title {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	color: rgb(51, 51, 51);
	background-color: #f5f5f5;
	margin: 0;
	text-align: center;
	padding: 16px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 2px 2px 0 0;
}

.top-form__free {
	color: #fe9244;
}

.top-form__input {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: #d6d6d6;
	display: block;
	margin: 32px auto 0;
	padding: 10px 10px 13px;
	width: 285px;
	border: 1px solid transparent;
	border-bottom-color: #d6d6d6;
}

.top-form__button {
	display: block;
	width: 100%;
	background-color: #ff9b51;
	color: #fff;
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	line-height: 1.2;
	padding: 18px;
	margin-top: 48px;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 0 0 2px 2px;
}

.top-form__button:hover {
	background-color: #333;
	cursor: pointer;
}

/* Social */
.social {				/* height: 105px; */

}

.social__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social__title {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: rgb(51, 51, 51);
	font-weight: 700;
	line-height: 1.2;
	margin: 23px 0 14px;
}

.social__text {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.429;
	max-width: 365px;
	margin: 0;
}

.social__links {
	margin: 31.5px 0;
}

.fas, .fab {
	color: #ccc;
	font-size: 42px;
}

.social__link {
	padding-right: 60px;
}

.social__link:last-child {
	padding-right: 0;
}



/* Features */
.features {			/* height: 595px */		/* todo: shadow top */
	background-color: #f5f5f5;
}

.features__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.features__button {
	display: block;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	font-weight: bold;
	line-height: 1.333;
	background-color: #333;
	padding: 48px 34px;
	border: 1px solid #f5f5f5;
}

.features__button:first-child {
	border-bottom: none;
	border-radius: 2px 2px 0 0;
	background-color: #ff8b38;
	margin-top: 147px;
}

.features__button:last-child {
	border-top: none;
	border-radius: 0 0 2px 2px;
	margin-bottom: 115px;
}

.features__title {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 60px;
}

.features__text {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.429;
	max-width: 455px;
	margin-bottom: 30px;
}

.features__button--download {
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	font-weight: bold;
	color: #fff;
	line-height: 1.333;
	background-color: #ff8b38;
	border: 1px solid #f5f5f5;
	border-radius: 2px;
	padding: 16px 24px;
}


/* About */
.about__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin-top: 83px;
}

.test {         /* todo: переименовать! */
    height: 66px;
    width: 66px;
    border: 2px solid #ff8b38;
    border-radius: calc(66px / 2);
    margin: 0 auto 30px;
    position: relative;
    text-align: center;
}

.test::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.about__icon {
    font-size: 35px;
    color: #ff8b38;
    margin: 0 auto;
    vertical-align: middle;
}

.about__title {
	text-align: center;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.about__text {
	text-align: center;
    font-size: 14px;
    font-family: "OpenSans", sans-serif;
    color: rgb(134, 135, 139);
    line-height: 1.4;
    margin-bottom: 105px;
}

/* Prices h: 885 */
.prices {
	background-color: #f5f5f5;
}

.prices__container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 80px;
}

.prices__item {
	width: 343px;
}

.prices__name {
	background-color: #333;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	padding: 21px 0 19px;
	margin-bottom: 1px;
}

.prices__value {
	background-color: #333;
	font-size: 35px;
	font-family: "Raleway", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	padding-top: 6px;
	margin-bottom: 1px;
}

.prices__value--big {
	font-size: 94px;
}

.prices__type {
	background-color: #333;
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgba(255, 255, 255, 0.502);
	text-align: center;
	padding: 18px;
	font-style: italic;
}

.prices__line {
	height: 5px;
	background-color: #ff8b38;
	margin-bottom: 1px;
}

.prices__hot {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
	background-color: #ff8b38;
	padding: 13px;
}

.prices_advantage {
	font-size: 14px;
	font-family: "OpenSans", sans-serif;
	color: rgb(134, 135, 139);
	text-transform: uppercase;
	text-align: center;
	background-color: #fff;
	padding: 13px 0;
	margin-bottom: 1px;
}

.prices_advantage:last-child {
	margin-bottom: 92px;
}

/* Reviews */		/* h: 591px */
.reviews {
	margin-bottom: 101px;
}

.reviews__container {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}

.reviews__item {

}

.reviews__text {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: rgb(134, 135, 139);
	line-height: 1.2;
	width: 273px;
	background-color: #f5f5f5;
	padding: 24px 12px;
}

.triangle-container {
	width: 70px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid #f5f5f5;
	margin: 0 auto 8px;
}

.reviews__authors {
	height: 70px;
	display: flex;
	justify-content: start;
}

.reviews__image {
	margin-right: 15px;
}

.reviews__author {
	margin: auto 0;
}

.reviews__name {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	margin-bottom: 8px;
}

.reviews__profession {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: rgb(134, 135, 139);
}

/* Design */			/* height: 320px; */
.design {
	background-color: black;
	background-image: url("../img/design__image.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.design__button {
	margin-bottom: 63px;
}

/* Contacts */
.contacts {				/* height: 613px; */

}

/* Footer */
.footer {					/* height: 100px */
	padding-top: 38px;
	background-color: #000;
	text-align: center;
}

.footer__links {
	margin-bottom: 15px;
	height: 23px;
}

.footer__link {
	display: inline-block;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	height: 23px;
	width: 27px;
	margin-right: 30px;
}

.footer__link:last-child {
	margin-right: 0;
}

.facebook {
	width: 12px;
}

.twitter {
	background-position: -43px top;
	width: 22px;
}

.google {
	background-position: -95px top;
	width: 22px;
}

.pinterest {
	background-position: -141px top;
	width: 21px;
}

.instagram {
	background-position: -191px top;
	width: 22px;
}

.stumbleupon {
	background-position: -242px top;
	width: 27px;
}

.rss {
	background-position: -298px top;
	width: 19px;
}

.footer__copyright {
	font-size: 9px;
	font-family: "OpenSans", sans-serif;
	color: rgba(255, 255, 255, 0.5);
	padding-bottom: 15px;
}